# packages used by transformers tool test
protobuf==4.25.8
numpy==1.21.6
coloredlogs==15.0
transformers==4.6.1
onnxconverter-common==1.8.1
psutil
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
