autopep8
matplotlib
scikit-learn
skl2onnx
sphinx
sphinx-gallery
sphinxcontrib.imagesvg
sphinx_rtd_theme
pyquickhelper
pandas
pydot
coloredlogs
flatbuffers
numpy
packaging
protobuf
sympy
onnx
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability